{% extends 'base.html' %}

{% block title %}
Booked Slots
{% endblock title %}

{% block body %}
<div align='center'>
<h3>Booked Slots</h3>
    <table bordercolor='black' border='1px'>
        <tr><td>Username</td><td>Sport</td><td>cancel the booked slot</td></tr>
        {% for i in slot %}
        <tr><td>{{i.username}}</td><td>{{i.bookedfor}}</td><td><a class="btn btn-sm btn-danger" href='/delete/{{i.username}}/{{i.bookedfor}}'>Cancel</a></td></tr>
        {% endfor %}
    </table>
</div>
{% endblock body %}
